<div class="text-center">
  <div class="form-group">
    <label for="title">title:</label>
    <input class="form-input" type="text" id="title" />
    <label for="content">content:</label>
    <input class="form-input" type="text" id="content" />
  </div>
  <br <p>
  <button class="btn btn-primary">Add comment</button>
  </p>
</div>