<div class="text-center">
  {{!-- display comment section --}}
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <div class="form-group">
    <label for="comment">comment:</label>
    <input class="form-input" type="text" id="comment" />
  </div>
  <br <p>
  <button class="btn btn-primary">Add comment</button>
  </p>
</div>

<script src="/js/comment.js"></script>