header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.hidden {
  display: none;
}

header {
  background-color: #422e7f;

}

#comment,
#content {
  width: 60%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.addPost,
.addComment {
  margin-left: 5%;
  width: 90%;
  font-size: 16px;
  background: #422e7f;
  padding: 30px 30px 15px 30px;
  border: 5px solid #ccc;
  color: #1b89bc;
}

#title {
  width: 60%;
  border-radius: 5px;
}

label {
  font-size: larger;
  width: 25%;
  float: left;
  margin-top: 6px;
}